@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sec: #001233;
  --main: #cac0b3;
  /* --high: #ef233c; */
  --high: #990033;
  /* --high:#991b1b; */
  /* --high: #931621; */
  --background-end-rgb: 202, 192, 179;
}

* {
  flex-shrink: 0;
  scroll-behavior: smooth;
  text-wrap: wrap;
}
@media (prefers-color-scheme: dark) {
  :root {
    --sec: #cac0b3;
    --main: #001233;
    --background-end-rgb: 202, 192, 179;
  }
}

html,
body {
  overflow: hidden;
}

body {
  color: var(--sec);
  background: linear-gradient(to bottom, transparent, var(--main)) var(--main);
}

main {
  height: 100dvh;
}
nav {
}
section {
  padding: calc(5dvh + 4rem) 0px 0px 0px;
  height: 100%;
  max-height: 1024px;
  width: 100%;
  max-width: 1024px;
  /* margin: 0 auto; */
  scroll-snap-align: start;
  /* border-bottom: 1px solid rgb(var(--sec));
  border-left: 1px solid rgb(var(--sec)); */
}

#highlight {
  position: relative;
  transition: all 0.15s ease-in;
  color: var(--high);
}
#highlight2 {
  position: relative;
  transition: all 0.15s ease-in;
  color: var(--high);
}

#highlight::after {
  content: "";
  top: 150%;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: var(--high);
  transition: width 0.15s;
}

#selected {
  border: 2px solid var(--high);
  border-bottom: 2px solid var(--main);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#listy {
  position: relative;
}

#listy::after {
  position: absolute;
  z-index: -2;
  bottom: -0px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--high);
}

button {
  height: fit-content;
  width: fit-content;
  padding: 16px;
  color: var(--high);
  border: 1px solid var(--high);
  border-radius: 8px;
}

textarea {
  padding: 4px 4px;
  border: 1px solid var(--sec);
  border-radius: 8px;
  background-color: transparent;
  resize: none;
}

textarea:focus {
  box-shadow: none;
  outline: none;
}

.normal {
  cursor: pointer;
  transition: all 0.15s ease-in;
}

#light {
  border-color: var(--high);
}
#logodiv {
  animation: 15s slide infinite linear;
}
#scroll:hover > * {
  animation-play-state: paused;
}

#logodiv > * {
  width: 2rem;
  height: 2rem;
  margin: 0 1.3rem;
}
/* somecolors{
  darkblue :0, 18, 51;
  biege:202, 192, 179;
  cred:240, 18, 45;
  lbiege:253, 248, 240;
  appred:187, 39, 65;
} */

h1 {
  font-size: 50px;
}

h3 {
  font-size: 18px;
}
li {
  font-size: 18px;
}

.hider {
  display: none;
}
.remove {
  display: flex;
}

   .remove_ {
    display: none;
  }

@media only screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
  li {
    font-size: 16px;
  }

  .hider {
    display: flex;
    height: 166px;
    transition: visibility 150ms, opacity 150ms, transform 150ms ease-in-out;
    visibility: visible;
    opacity: 100%;
    transform: translateY(0);
  }

  .hider#notdrop {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
  }

  #highlight {
    display: block !important;
    position: relative;
    color: var(--sec);
    transition: all 0.15s ease-in;
    animation: 150ms enter 1 linear;
  }
  .normalNav {
    display: none;
  }
  .remove {
    display: none;
  }
    .remove_ {
    display: flex;
  }
}

@media only screen and (max-width: 390px) {
  :root {
    font-size: 12px;
  }

  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 14px;
  }
  li {
    font-size: 14px;
  }
}

@media only screen and (max-height: 625px) {
  /* :root {
    font-size: 12px;
  }

  #scrollBox {
    display: block;
    min-height: calc(600px - 4rem);
    scroll-snap-type: mandatory;
  }*/

  section {
    min-height: 624px;
  }

  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 28px;
    }
    h3 {
      font-size: 14px;
    }
    li {
      font-size: 14px;
    }

    #scrollBox {
      scroll-snap-type: none;
      /* overflow: hidden; */
    }
  }
}

@keyframes enter {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
